* {
    box-sizing: border-box;
}

html {
    font-family: 'Nanum Gothic', serif;
}

a {
    width: auto;
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
}

input {
    outline: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width:100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.sm-header-space {
    height: 10vh;
}

.header-lg {
    display: none;
}

header {
    width: 100%;
    height: 10vh;
    color: white;
    background-color: darkolivegreen;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header a {
    color: white;
}

header div {
    margin-left: 20px;
}

header nav {
    height: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header nav span {
    margin-right: 10px;
}

header nav span a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-panel {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    display: none;
}

.home-panel div {
    width: 100%;
}

.home-panel div .bottom {
    width: auto;
}

.home-panel div .search-row {
    display: flex;
    justify-content: center;
}

.home-panel h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.home-panel h1 div {
    margin-bottom: 5px;
}

.home-panel h1 .bottom {
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
}

.slide img {
    height: 30vh;
}

.slideshow-dot .dot:hover {
    background-color: black;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container .fade-slide {
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.slideshow-dot {
    margin-top: 10px;
    text-align: center;
}

.slideshow-dot .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.slideshow-dot .active {
    width: 25px;
    border-radius: 25%;
    background-color: black;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgb(255,255,255,0.1);
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: gray;
    opacity: 0.5;
}

.btn-group {
    overflow: auto;
    white-space: nowrap;
}

.btn-group button {
    padding: 15px;
    border: none;
    background-color: white;
}

.btn-group .active {
    font-weight: bold;
    border-bottom: 5px solid black;
}

#search-btn {
    background-color: white;
    border: none;
    width: 48px;
}

#home-search {
    width: 640px;
    height: 48px;
    border: none;
    padding-left: 10px;
}

.footer {
    height: auto;
    margin-top: 50px;
    background-color: slategrey;
}

.footer .row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.footer div {
    padding-left: 20%;
}

.footer a {
    color: black;
}

.footer .title a {
    color: white;
}

.title {
    font-weight: bold;
}

#scroll-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    font-size: 18px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.3;
    transition: 0.2s ease;
}

#scroll-top:hover {
    opacity: 0.8;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header .left i {
    position: relative;
}

.nav-content {
    overflow: auto;
    white-space: nowrap;
}

i .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-size: 14px;
    margin-left: -100px;
    transition: opacity 0.7s;
}

i .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

i:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nav-header .left {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.nav-header .right {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.nav-header .right a {
    color: green;
}

#nav-img-cards {
    width: 300px;
    height: 300px;
    margin-right: 15px;
}

.nav-cards {
    overflow: auto;
    white-space: nowrap;
    width: auto;
    padding: 4px;
}

.nav-cards .card {
    display: inline-block;
    background-color: #fafafa;
    margin-right: 10px;
}

.nav-cards .nav-card-content {
    padding: 15px;
}

.nav-cards div {
    margin-bottom: 5px;
}

.nav-cards .model {
    font-weight: bold;
}

.nav-cards .price {
    font-weight: bold;
}

.btn-row {
    display: flex;
    justify-content: center;
}

#browse-button {
    border-radius: 5px;
    background-color: green;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: white;
}

.news-item {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.news-item .left {
    font-weight: bold;
}

.news-item .right {
    text-align: end;
}

.div-table {
    overflow: auto;
    white-space: nowrap;
}

.div-table .row {
    display: table-row;
}

.div-table .cell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (min-width: 600px) {
    .content-center {
        margin-left: 5%;
        margin-right: 5%;
    }

    .btn-group {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-content {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .nav-cards {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .div-table {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    /* Tablet */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

@media screen and (min-width: 768px) {
    /* Tablet */
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media screen and (min-width: 992px) {
    /* Desktop */
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media screen and (min-width: 1200px) {
    /* Desktop */
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}